.welcomeSection {
    display: flex;
    background-color: #CAD3C8;
    height: fit-content;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.welcomeSectionItems {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.welcomeTitle {
    display: flex;
    font-size: 3rem;
    font-weight: 500;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;

}

.welcomeText {
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    padding-right: 5rem;
    padding-left: 2rem;
    padding-top: 1.3rem;

}

@media (max-width: 425px) {
    .welcomeTitle {
        display: none;
    }
    .welcomeText {
    
        font-size: 0.5rem;
    }
    .welcomeSection {
        display: flex;
        background-color: #CAD3C8;
        height: fit-content;
        justify-content: space-between;
        flex-direction: column;
    }
    .welcomeSection img {
        padding: 0;
        align-self: center;
    }

    .welcomeText {
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        padding: 1rem 0 1rem 0 !important;
        align-self: center;
    }

}

@media only screen and (min-width: 426px) and (max-width: 767px) {
    .welcomeTitle {
        display: none;
    }
    .welcomeText {
    
        font-size: 1rem;
    }
    .welcomeSection {
        display: flex;
        background-color: #CAD3C8;
        height: fit-content;
        justify-content: space-between;
        flex-direction: column;
    }
    .welcomeSection img {
        padding: 0;
        align-self: center;
    }

    .welcomeText {
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        padding: 1rem 0 1rem 0 !important;
        align-self: center;
    }
} 

@media only screen and (min-width: 768px) and (max-width: 1024px) {
   .welcomeTitle {
    font-size: 2rem;
   }
}


@media only screen and (min-width: 1441px) {
    .welcomeTitle {
        font-size: 3.5rem;
    }
    .welcomeText {
        font-size: 2rem;
        padding-top: 2.5rem;
    }
    .welcomeSection img {
        width: 500px;
        height: 300px;
    }
}