.container {
    width: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 768px;
    }

}

@media only screen and (min-width: 768px) {
    .container {
        width: 100%;
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 100%;
        max-width: 1441px;
    }
}


@media only screen and (min-width: 1441px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}