.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Vazir';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #CAD3C8;
    align-items: center;

}

.logoImage {
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;

}
.about {
    display: flex;
    align-items: center;
}
.footerItem {
    display: flex;
    padding-left: 1rem;
}
.footerItems {
    display: flex;
    justify-content: flex-end;
}