.header {
    font-family: 'Vazir';
    direction: rtl;
    background-color: white;
    display: grid;
    grid-template-columns: 0.3fr 2fr 1fr;
    height: 2rem;
}

.headerItems {
    display: flex;

}

.logo {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.logoImage {
    height: 1.8rem;
    width: 1.8rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;

    cursor: pointer;

}

.myBlog {
    font-size: 1.25rem;
    color: black;
    cursor: pointer;

}

.menu {
    font-size: 1rem;
    color: black;
    cursor: pointer;
    display: flex;

}

.menuItemsSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menuItems {
    padding-left: 1.3rem;
}

.borderBottoom {
    padding-left: 1.3rem;

}

.borderBottoom::after {
    position: relative;
    display: block;
    content: '';
    top: .08rem;
    border-bottom: 0.02rem solid black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;

}

.borderBottoom:hover:after {
    transform: scaleX(1);
}

.borderBottoom.fromRight:after {
    transform-origin: 100% 50%;
}

.borderBottoom.fromLeft:after {
    transform-origin: 0% 50%;
}

.menuLeft {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.25rem;
}
.menuLeftItem {
    cursor: pointer;
    font-family: 'Vazir';
    border: 1.2rem;
    background-color: black;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.menuLeftItem:hover {
    background-color: #CAD3C8;
    color: black;
}