.section {
    font-family: 'Vazir';
    
}

.welcomeSection {
    display: flex;
    background-color: #CAD3C8;
    height: 7rem;
    justify-content: space-between;
}
.welcomeSectionItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bgImage {
    width: 20rem;
    height: 10rem;

}
.welcomeText {
    display: flex;
    font-size: large;
    align-items: center;
    padding-right: 2rem;
}

.contentSection {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding-top: 1rem;
    padding-right: 1rem;
}

.articleSectionTitle {
    padding-bottom: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    
}
.articlesItems {
    display: flex;
    flex-direction: column;
}
.articleTitle {
    display: flex;
    flex-direction: row-reverse;
}
.articleText {
    font-size: 0.8rem;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    line-height: 1.2rem
}
.commentSectionTitle {
    padding-bottom: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
}
.commentsItems {
    display: flex;
    flex-direction: column;
}
.commentTitle {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    flex-direction: row-reverse;
}
.commentText {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
    line-height: 1.2rem

}