.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 20px;
    border-radius: 10px;
    /* background-color: black; */
    /* color: white; */
    font-size: 0.8rem;
    font-weight: 500;
    height: 35px;
    width: 100px;
    justify-content: center;
    align-items: center;

}

.btn:hover {
    background-color: #CAD3C8;
    color: black;
}