.articleSection {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0 5px 8px #0000000a;
    margin-bottom: 1rem;
}

.articlesItems {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding: 1rem;
}

.articleTitle {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.articleText {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    flex-direction: row;
    line-height: 1.2rem
}

.options {
    display: flex;
    justify-content: flex-end;
}

.options span {
    padding-right: 1rem;
    cursor: pointer;
    font-size: small;
}

.options:nth-child(3) {
    display: none;
}

@media (max-width: 767px) {
    .articlesItems img {
        width: 300px;
        height: 150px;

    }

    .articleTitle {
        font-size: 0.8rem !important;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .articleSection {
        border-radius: 0px;
        box-shadow: 0 5px 8px #0000000a;
        margin-bottom: 1rem;
    }

    .articleText {
        font-size: 0.7rem;
    }

    .options > div {
        display: none;
    }

    .options span {
        display: flex;
        cursor: pointer;
        padding-left: 1rem;
        font-weight: 500;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .articlesItems img {
        width: 300px;
        height: 150px;
        padding-right: 0px;
    }

    .articleSection {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }
    .articleText {
        font-size: 0.8rem;
        line-height: 1.2rem !important;
    }

    .articleTitle {
        font-size: 0.8rem !important;
        line-height: 1.4rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .articlesItems img {
        width: 200px;
        height: 100px;
        padding-right: 0px;
    }

    .articleTitle {
        font-size: 0.8rem;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .articleSection {
        border-radius: 1rem;
        box-shadow: 0 5px 8px #0000000a;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .articleText {
        font-size: 0.7rem;
    }

}

@media only screen and (min-width: 1441px) {
    .articlesItems img {
        width: 500px;
        height: 250px;
        padding-right: 0px;
        align-self: center;
    }

    .articlesItems {
        padding: 2.5rem;
    }

    .articleTitle {
        font-size: 2rem;
        line-height: 2.5rem;
        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
    }

    .articleSection {
        border-radius: 1.5rem;
        box-shadow: 0 5px 8px #0000000a;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    .articleText {
        font-size: 1.7rem;
        line-height: 2rem;
    }
    .options span {
        font-size: 1.5rem;
    }
    .options {
        padding-top: 2rem;
    }
}