.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #CAD3C8;
    align-items: center;
    height: fit-content;
}

.logoImage {
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 0.5rem;

}

.about {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;

}

.footerItem {
    display: flex;
    padding-left: 1rem;
}

.footerItems {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.footerLinks {
    padding: 1rem;
}

.footerLinks h3 {
    padding-bottom: 1rem;
}

.footerLinks ol li {
    line-height: 2rem;
    list-style: circle;
    cursor: pointer;
}

.footerLinks ol li:hover {
    color: #18181a;
    font-weight: bold;
}

.footerLinks ol {
    padding-right: 1.5rem;
}

.footerLinksCenter ol {
    display: flex;
    justify-content: space-evenly;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footerItem {
        display: none;
    }

    .about {
        display: none;
    }

    .footerItems {
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .footerLinks {

        display: flex;
        flex-direction: row;
    }

    .footerLinks h3 {
        padding-bottom: 1rem;
    }

    .footerLinks ol li {
        line-height: 2rem;
        list-style: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        padding-left: 1rem;

    }

    .footerLinks ol li:nth-child(3) {
        display: none !important;
    }

    .footerLinks ol li:nth-child(4) {
        display: none !important;
    }

    .footerLinks ol li:hover {
        color: #18181a;
        font-weight: bold;
    }

    .footerLinksCenter ol {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .footer .footerLinksCenter ol {
        display: block;
    }

    .footerLinksCenter ol li {
        list-style: none !important;
    }

    .about {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .footerLinks {
        line-height: 1.5rem;

    }

    .footerLinks ol li {
        line-height: 1.2rem;
    }

}


@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .footer .footerLinksCenter ol {
        display: flex;
    }

    .footer .footerLinksCenter ol li {
        list-style: none !important;
        font-size: 1rem;
        padding-left: 0.2rem;
    }

    .about {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .footerItem {
        font-size: 1rem;
    }

    .footerLinks ol li {
        line-height: 2rem;
    }
}

@media (min-width: 1441px) {
    .footer .footerLinksCenter ol {
        display: flex;
    }

    .footer .footerLinksCenter ol li {
        list-style: none !important;
        font-size: 1.2rem;
        padding-left: 0.2rem;
    }

    .about {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: bold;
    }

    .footerItem {
        font-size: 1.2rem;
    }

    .footerLinks ol li {
        line-height: 2.2rem;
    }
}