.section {
    background-color: #f1f2f2;
    min-height: inherit;
}

.wrapper {
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.contentSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1rem;
    padding-right: 10rem;
    width: fit-content;

}

.articles {

    align-items: center;
    padding: 0.5rem;
}

.title {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.articleSectionTitle {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    text-align: center;


}

.comments {
    align-items: center;
    padding: 0.5rem;
}

.title {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.commentSectionTitle {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    text-align: center;
}


@media (max-width: 767px) {

    .title {
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }

    .contentSection {
        display: flex;
        padding-top: 1rem;
        padding-right: 0 !important;
        flex-direction: column;
        width: fit-content;
    }

    .articles {
        padding: 0;
    }

    .title .articleSectionTitle {
        padding-right: 1rem;
    }

    .commentSectionTitle {
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .title {
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }

    .contentSection {
        padding: 1rem 0 0 0 !important;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .articlesItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1440px) {

    .title {
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        width: 100% !important;
    }

    .contentSection {
        display: block;
        padding-top: 1rem;
        padding-right: 0 !important;
        width: fit-content;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .articles {
        align-items: center;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    .articlesItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (min-width: 1441px) {

    .title {
        border-bottom: 1px solid #e2e2e2;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
    }

    .title .articleSectionTitle {
        font-size: 1.2rem;
    }
    
    .title .commentSectionTitle {
        font-size: 1.2rem;
    }
 
    .contentSection {
        display: grid;
        grid-template-columns: 3fr 1fr;
        padding-top: 1rem;
        padding-right: 0rem;
        width: fit-content;
    }

    .articles {
        align-items: center;
        padding: 0.5rem;
        flex-direction: column;
    }

    .articlesItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



}